
@Model Route[]

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Всички полети</h2>

        </div>
    </div>
</section>
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Заминава</th>
                            <th scope="col">Пристига</th>
                            <th scope="col">Дата на заминаване</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.DepartureCity</td>
                                <td> @item.ArivalCity</td>
                                <td> @item.DepartureTime</td>
                                <td><a href="/Admin/FlightDetails/@item.Id" class="btn btn-primary">Виж детайли</a> </td>
                            </tr>
                        }
                        </tbody>
                </table>
        
            </div>
        </div>
    </div>
</section>
