
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Промяна на парола</h2>

        </div>
    </div>
</section>
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" asp-action="AddRoute" asp-controller="Admin">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Стара парола</label>
                        <input type="password" class="form-control" id="formGroupExampleInput" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Нова парола</label>
                        <input type="password"  class="form-control" id="formGroupExampleInput2"  >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Повтори нова парола</label>
                        <input type="password" class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div>
                        <button class="btn btn-primary" disabled> Смени парола</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
